@{
    Layout = "_Layout";
}
@model PierreAuthen.Models.Treat
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Add a Treat</h1>
    </div>     
</div>
<div class="card">
    <div class ="card-body">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.TreatName)
            @Html.TextBoxFor(model => model.TreatName, new {@class = "form-control"})
            <br>
            <input type="submit" value="Add Flavor" class="btn button btn-success">
        }
    </div>
</div>
