@{
    Layout = "_Layout";
}
@model PierreAuthen.Models.Flavor
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-danger text-center">Are you sure you would like to delete <u>@Model.FlavorName</u>?</h1>
        @using (Html.BeginForm())
        {
            <input type="submit" value="Delete Flavor" class="btn button btn-danger text-center"/>
        } 
    </div>     
</div>