@{
    Layout = "_Layout";
}
@model PierreAuthen.Models.Flavor;
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Update Flavor: @Model.FlavorName</h1>
    </div>     
</div>
<div class="card">
    <div class ="card-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.FlavorId)
            @Html.LabelFor(model => model.FlavorName)
            @Html.TextBoxFor(model => model.FlavorName, new {@class = "form-control"})
            <br>
            <input type="submit" value="Save" class="btn button btn-info";>
        }
    </div>
</div>
